<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="TestConsoleApp.OtherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
          <section name="TestConsoleApp.AppEnvironment" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <TestConsoleApp.OtherSettings>
        <setting name="SomeFolder" serializeAs="String">
          <value>def</value>
        </setting>
      </TestConsoleApp.OtherSettings>
        <TestConsoleApp.AppEnvironment>
            <setting name="Environment" serializeAs="String">
              <value>DEV</value>
            </setting>
            <setting name="EnvVarName" serializeAs="String">
                <value>SYSTEM_ENV</value>
            </setting>
            <setting name="ConfigsFolder" serializeAs="String">
                <value>Configs\</value>
            </setting>
        </TestConsoleApp.AppEnvironment>
    </applicationSettings>
</configuration>